td {
	color: white;
	font-style: italic;
}

li {
	color: black;
	font-style: italic;
}

table {
	background-color: black;
}

a:link{color: green;
	text-decoration: none;
}
a:visited{ color:green;
	text-decoration: none;
}
a:hover{ color: yellow; 
	text-decoration: underline;
	background-color: black;
}
a:active{ color: green;
	text-decoration: none;
 }

#product1 {
	background-image:  url(http://www.disturbed1.com/sites/g/files/g2000002776/f/201506/flatbush-facebook-opengraph-d2c_0.jpg);
	height: 630px;
}

.fant {
	font-family: fantasy;
}