.title {
	text-align: center;
	color: blue;
}

.end {
	text-align: center;
	color: blue;
}

header {
	font-family: monospace;
}

h3 {
	font-size: 50px;
}

a:link{color: blue;
	text-decoration: underline;
}
a:visited{ color:green;
	text-decoration: underline;
}
a:hover{ color: black; 
	text-decoration: underline;
	font-weight: bold;
}
a:active{ color: red;
	text-decoration: none;
 }