td {
	color: white;
}

li {
	color: white;
	font-style: italic;
}

a:hover{ color: red; }
a:active{ color: orange; }
a:visited{ color: green; }

div.web {
	background-image:  url(http://www.disturbed1.com/sites/g/files/g2000002776/f/201506/flatbush-facebook-opengraph-d2c_0.jpg);
}

.fant {
	font-family: fantasy;
}